.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.ico {
    width: 20px;
    height: 20px;
    float: inline-start-bottom;
    padding-bottom: 5px;
    padding-left: 2px;
}

.movie-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-card h3 {
    font-size: 1.1rem;
    margin: 10px 0;
}

.movie-card p {
    color: #666565;
}
